.create-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 64px);
  padding: 25px;
  padding-top: 100px;
  font-family: "open sans", arial, sans-serif;
}

.create-form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  min-width: 300px;
  width: 60%;
  margin-bottom: 25px;
}

.create-form-title {
  font-size: 2.2em;
  font-weight: bold;
  padding: 5px;
}

.create-form-date {
  font-size: 0.8em;
}

.create-form-description {
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
}

.create-question-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 60%;
  padding: 10px;
  margin-bottom: 10px;
}

.create-question-option-container {
  display: flex;
}

button.create-question-option-delete {
  align-self: flex-end;
  min-width: 35px;
  height: 35px;
}

.create-question-button-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 10px;
}

#create-form-share-text {
  border: none;
  overflow: auto;
  outline: none;
  width: 100%;
  font-family: "open sans", arial, sans-serif;
  font-size: 1rem;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}
