.rv-xy-plot__grid-lines__line {
  stroke: gray;
  stroke-width: 1;
}

.data-analytics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analytics-graph {
  display: flex;
  justify-content: center;
  width: 40vw;
  height: 70vh;
  min-width: 350px;
  min-height: 500px;
  margin-bottom: 25px;
}

#text-analytics-page-buttons {
  display: flex;
  font-size: 10px;
}

#text-analytics-page-container {
  width: 90vw;
}

.rv-xy-plot__axis__tick-text {
  margin-left: 50px;
}
