.rv-xy-plot__grid-lines__line {
  stroke: gray;
  stroke-width: 1;
}

.data-analytics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.analytics-graph {
  display: flex;
  justify-content: center;
  width: 40vw;
  height: 60vh;
  min-width: 350px;
  min-height: 500px;
  margin-bottom: 25px;
}

#text-analytics-page-buttons {
  display: flex;
  font-size: 10px;
}

div.text-analytics-cloud-container {
  width: 60vw;
  min-width: 350px;
  min-height: 40vh;
}
div.text-analytics-table-container {
  width: 60vw;
  min-width: 350px;
}

.rv-xy-plot__axis__tick-text {
  margin-left: 50px;
}

.form-analytics-text-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-analytics-text-title {
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
}
